.background_article{
    position: relative;
    z-index: 9;
    background-color: rgba(236, 236, 236, 1);
    border-radius: 20px;
    top: -200px;
}


.background_content {
    padding-top: 150px;
    position: relative;
    z-index: 1;
    background-color: rgba(236, 236, 236, 1);
    height: 2168px;
  
}

h1 {
    padding-top: 10px;
    text-align: center;
    font-family: 'Bangers';
    color: rgb(111, 8, 8);
}

h2 {
    text-align: center;
    font-family: 'Abril Fatface';
    color: rgb(111, 8, 8);
}

h3 {
    text-align: center;
    font-family: 'Abril Fatface';
    color: rgb(206, 134, 45);
}

p {
    font-family: 'Open Sans';
    padding: 50px;
}

.lien_index {
    text-decoration: none;
    color: rgb(206, 134, 45);
}
