.image_generic {

    border-style: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-radius: 15px;
  

}

.photo_artiste {

    border-style: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.index_artistes {
    padding: 40px;
}

.images_artiste_article {
    border-style: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    border-radius: 15px;
}