.footer {
    background-color: #181818;
    height: 350px;
    border-radius: 24px 24px 0 0;
    padding: 30px;
}

.footer__name {
    font-size: 1rem;
    color: whitesmoke;
    display: flex;
    justify-content: center;
}

.footer__quote {
    font-size: 1rem;
    margin: 30px 0;
    color: whitesmoke;
    line-height: 120%;
    font-style: italic;
    display: block;
    text-align: center;
}

.footer__mailto {
    display: block;
    font-family: 'Outfit';
    color: whitesmoke;
}
.footer__mailto p {
    font-family: 'Outfit';
    text-align: center;
    border: whitesmoke 1px solid;
    border-radius: 50px;
    margin: 0% 25%;
    padding: 5px 15px;
}

.footer__list {
    font-family: 'Outfit';
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
}


.footer__link {
    font-family: 'Outfit';
    color: whitesmoke;
    font-style: italic;
    text-decoration: none;
    gap: 50px;
}
