.home__slider {
    max-width: 100vw;
    width: 100vw;
    height: 552px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.slider {
    width: 100vw;
    animation: slider 20s infinite;
    display: flex;
}

.home__slider ::after {
    content: '';
    display: block;
    width: calc(800vw);
    height: 70px;
    background: linear-gradient(0deg, var(--fond), 2%, transparent),
    url("public/image/linear_home.png");
    position: absolute;
    top: 160px;
    left: 0;
    z-index: 1;
}


.slider__item {
    margin: 0;
}

.slider__img {
    width: 375px;
    width: 100vw;
    max-width: 672px;
}



@keyframes slider {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX( -100vw);
    }
    50%{
        transform: translateX(calc( -100vw*2));
    }
    75.5% {
        transform: translateX(calc( -100vw*3));
    }
    100% {
        transform: translateX(0);
    }
   
}